
<!DOCTYPE html>

<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
</head>
    <!-- You can replace this HTML with the previous code and just update the styles below -->
<style>
    
    
    .footer {

        position : fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: #062A63;
        color: white;
    }
    .footer p {
        margin: 0;
    }

    .custom-navbar {
        background-color: #062A63;
      }
    
</style>

</head>
<body>
    {% include 'navbarAdmin.html' %}
    
    
    <div class="footer">
        <p>Contact</p>
    </div>
</body>
</html>