<!DOCTYPE html>
<html>
<head>
<style>
        
    .footer {
        

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
        background-color: #062A63;
        color: white;
    }
    .footer p {
        margin: 0;
    }

        .custom-navbar {
            background-color: #062A63;
          }
    </style>
</head>
<body>
    {% include 'navbarClient.html' %}
    
    <div class="footer">
        <p>Contact</p>
    </div>
</body>
</html>